/* Media Rules */
@media (max-width: 1000px) {
  .heading {
    font-size: 50px;
  }

  img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 600px) {
  nav a:hover {
    background-color: #ddd;
    color: black;
  }

  nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 2;
    margin-right: 20px;
  }
  .logo {
    width: 200px;
    height: 100px;
  }
  nav #myLinks {
    display: none;
  }

  .top {
    padding: 50px;
  }

  .heading {
    font-size: 30px;
  }

  .about-title {
    padding-bottom: 20px;
    text-align: center;
  }

  .about-column {
    padding: 5px;
    text-align: center;
    line-height: 1.9rem;
  }

  .about-title {
    font-size: 50px;
  }

  .about {
    padding: 35px;
    flex-direction: column;
  }

  p {
    font-size: 20px;
  }
  .name {
    font-size: 60px;
  }

  .about-image {
    display: flex;
    margin-top: 30px;
  }
  #about-img {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 50px #9741c4;
  }

  .skills {
    padding: 30px;
  }
  .skills ul {
    padding: 0;
  }
  .skills-title {
    font-size: 60px;
    padding: 10px;
    margin: 0;
  }
  .fab {
    border-radius: 10px;
    margin: 6px;
    transition: all 0.4s;
  }
  .skills-icon {
    font-size: 40px;
    text-align: center;
  }

  /* Projects */
  .projects-title {
    font-size: 4rem;
    padding: 5rem 0 5rem 0;
  }
  .projects-name {
    font-size: 2rem;
    margin: 30px 0;
  }

  .projects p {
    font-size: 18px;
    line-height: 1.9rem;
    padding-right: 0;
    padding: 30px 0;
  }

  .row {
    text-align: center;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .col {
    padding-inline: 0px;
    padding-bottom: 2rem;
  }
  .projects img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }
  /* Education */
  .education {
    padding: 50px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .edu-title {
    margin-bottom: 50px;
    font-family: "Archivo Black", sans-serif;
    font-size: 50px;
    padding-top: 30px;
  }

  .edu-info {
    margin: 10px;
    text-align: center;
  }
  .college {
    font-size: 20px;
    padding: 5px;
  }

  .degree {
    font-size: 20px;
    padding: 5px;
  }
  .year {
    font-size: 15px;
    padding: 5px;
  }

  .school {
    font-size: 20px;
    padding: 5px;
  }
}
