* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

/* navbar */
nav {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #0d0a16;
  color: white;
  padding: 15px 8%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
}

.logo {
  width: 200px;
  height: 100px;
}
nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.6s;
}
nav ul li a:hover {
  color: #9741c4;
}

/* Container */
.container {
  width: 100%;
  background-color: #0e0a17;
  color: white;
}

/* Top */

.top {
  text-align: center;
  display: flex;
  padding: 150px 0px 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top .name {
  font-family: "Archivo Black", sans-serif;
  font-size: 100px;
  color: #9741c4;
}
.top .name:hover {
  text-shadow: 0px 0px 100px #9741c4;
}
.ansub {
  transition: 0.6s;
}
.ansub:hover {
  color: #9741c4;
}

.heading {
  font-size: 60px;
  padding-top: 10px;
  font-family: "IBM Plex Sans", sans-serif;
}

/* Social Media Icons */
.fa {
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: 0.6s;
}

.socials {
  padding-top: 50px;
  font-size: 40px;
  transition: 0.6s;
}

.fa:hover {
  color: #9741c4;
}
.fa-angle-down {
  padding-top: 100px;
}
/* About Section */
.about {
  display: flex;
  padding: 80px;
}
p {
  font-family: "IBM Plex Sans", sans-serif;
}
.about-title {
  font-family: "Archivo Black", sans-serif;
  font-size: 100px;
  color: #9741c4;
  transition: all 0.3s;
}
.about-title:hover {
  text-shadow: 6px 10px 0px #fff;
}
.about-column {
  flex: 50%;
  padding: 50px;
  flex-direction: column;
}

.about-text {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
#about-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0px 0px 200px #9741c4;
}
.about-image {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Skills */

.skills {
  color: white;
  background-color: #9741c4;
  padding: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-title {
  font-family: "Archivo Black", sans-serif;
  font-size: 100px;
  margin-bottom: 80px;
}

.fab {
  padding: 10px;
  color: white;
  transition: all 0.4s;
}

.skills-icon {
  font-size: 60px;
}

.skills-icon:hover {
  font-size: 60px;
  color: #9741c4;
}

/* Projects */
.projects-title {
  font-family: "Archivo Black", sans-serif;
  font-size: 80px;
  color: #9741c4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 0px 0px;
}
.row {
  display: flex;
  padding: 100px 100px;
  flex-direction: row;
}
.projects-name {
  font-family: "Archivo Black", sans-serif;
  font-size: 50px;
  color: #9741c4;
}

.col {
  padding-inline: 20px 100px;
}
.projects img {
  width: 400px;
  border-radius: 20px;
}

.projects p {
  font-size: 22px;
}
/* Education */

.education {
  background: #9741c4;
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.edu-title {
  margin-bottom: 50px;
  font-family: "Archivo Black", sans-serif;
  font-size: 80px;
  color: white;
  transition: all 0.3s;
}
.projects p {
  padding-right: 5rem;
}

.college {
  font-size: 30px;
  font-family: "Archivo Black", sans-serif;
}

.degree {
  font-size: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}
.year {
  font-size: 20px;
  padding-bottom: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}

.school {
  font-size: 28px;
  font-family: "Archivo Black", sans-serif;
}

/* Footer */
.footer {
  background-color: #0d0a16;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px;
}

.footer-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  padding: 10px;
  margin-bottom: 10px;
}
.footer a {
  color: white;
  text-decoration: none;
  transition: 0.6s;
}
.footer a:hover {
  background-color: rgb(14, 10, 23);
}
.socials-footer {
  font-size: 20px;
}
